body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container {
    background-color: #1F2937;
    padding: 0 100px;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex-shrink: 0;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    gap: 20px;
    flex-shrink: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
}

.text-hero {
    width: 450px;
    height: 175px;
    flex-shrink: 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.second-hero {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 4px 0;
}

#hero-image {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.top-button {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 5px 20px;
    font-weight: bold;
    border: 2px solid #3882F6;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    text-align: center;
}

.card-img {
    width: 130px;
    height: 130px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.card-text {
    margin: 5px 0;
    color: grey;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-div {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    flex: auto;
    background-color: #3882F6;
    border-radius: 10px;
    justify-self: center;
    margin: 100px 0px;
    padding: 40px 30px; 
}

.call-subhead {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 700;
    margin: 0;
}

.call-subtext {
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 500;
    margin: 0;
}

.bottom-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px 20px;
    font-weight: bold;
}

footer {
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 20px;
}